                                                                     /*GENERAL*/ 
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

h5 {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

                                                                /*FORMATU PRINTZIPALA*/

.main-header {
	background: #333;
	color: white;
	height: 80px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	.main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
    #logo-foto {
    width: 30px;
    padding: 10px;
    position:relative;
    right: 292px;

    }
	#logo-header:hover {
		color: #0b76a6;
	}

	#logo-header .site-name {
		display: inline-block;
		font-weight: 700;
		font-size: 1.2em;
        top: 20px;
	}

	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}


/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

		nav ul li {
			display: inline-block;
			line-height: 80px;
		}

			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}

				nav ul li a:hover {
					background: #0b76a6;
				}


.main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	.main-content header{
        padding: 40px;
        text-align: center;
    }
	.main-content .content {
		padding: 40px;
        text-align: center;
        text-align: justify;
	}

footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px 0;
	margin-top: 40px;
    width: 100%;
    bottom: 0; /* Posicionamos la pie de pagina pegada abajo */
    position:static; /* Hacemos que el pie de pagina tenga una posición fija */
    flex: 0 0 auto;

}

footer p {
	margin: 0;
}
footer a {
	color: white;
}

                                                                /*MENU DESPLEGABLEA*/

       /*dineinua aldatu*/
       .barra{
        font-family: Arial, Helvetica, sans-serif;
        width: 5%;
        height: 9%;
        position: fixed;
        transition: .4s all;
        z-index: 1;
    }

    /*Diseinua aldatu ul*/
    .barra ul{
        padding: 0px;
        text-align: center;
    }

    /*Diseinua aldatu li*/
    .barra li{
        transition: .3s all;
    }

    /*Diseinua aldatu a*/
    .barra a{
        text-decoration: none;
        list-style: none;
        transition: .3s all;
        font-size: 0px;
        padding: 0px;
    }

    /*Diseinua aldatu h2*/
    .barra h2{
        text-align: center;
        color: white;
        padding: 7px;
        padding-bottom: 7px;
        font-size: 0px;
    }

    /*3 barrako argazkia editatzen*/
    .barra img{
        padding-top: 30px;
        padding-left: 10px;
    }

    /*barra kurtsorea gainetik pasatzean zabalduko da*/
    .barra:hover{
        width: 20%;
        height: 480px;
        background-color: rgba(0, 0, 0, 0.98)
    }

    /*hau da, h2 barran agertzeko diseinua*/
    .barra:hover h2{
        padding: 15px;
        font-size: 35px;
    }

    .barra:hover a{
        font-size: 20px;
        color: white;
        display: block;
        padding: 30px;
    }

    .barra:hover img{
        height: 0px;   
    }

    .barra:hover li{
        border-top: 1px solid white;
        width: 100%;
    }

    .barra:hover a:hover{
        font-size: 25px;
        padding: 30px 0px; /*30 0 30 0*/
        background-color: rgb(22, 78, 112, 0.98);
    }

                                                                    /*DENDA HTML*/
 
.W10Pro{
    width: 350px;
}
.office365{
    width: 370px;
}
/*logoak editatzen finala*/

/*h4 margen bat jartzen*/
.main-content h4{
margin: 20px;
}

/*h2 colorea jartzen*/
.main-content h2{
    color: black;
}

                                                                    /*LINKTREE*/
.linkBtn{
    padding: 20px; background-color: #3D3B3C; color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    max-width: 700px;
}

.linkBtn:hover{
    border: 0.5px solid #3D3B3C;
    background-color: #0b76a6;
    color: #ffffff;
    padding: 19px;
}

                                                                    /*EROSKETA*/


/*Menu Desplegable finala*/
.links{
    text-decoration: #0b76a6;
 }
 /*Atzera joateko botoia*/
 .atlink{
     text-align: start;
 }
 /*atzera joateko argazkiaren tamaina*/
 .atimg{
     width: 30px;
 }
 /*Paypal logoaren tamaina*/
 .ppimg{
     width: 40px;
 }
 /*Txartela logoaren tamaina*/
 .tximg{
     width: 90px;
 }
 /*Office argazkiaren tamaina*/
 .offimg{
     width: 10pc;
 }
 /*Prezioaren letra-kolorea eta letra-estiloa aldatu*/
 .prezioa{
     color: rgb(0, 0, 0);
     font-style: normal;
 }
 /*orrialdeen edukia erdian ipintzeko*/
.artileee
{
 text-align: center;
}
.ngtit{
 color: black;
}
/*Menu Desplegable finala*/